.git
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.venv
.venvs
.oci
__pycache__
*.pyc
*.pyo
*.pem
*.key
*.crt
*.csr
*.p12
*.pfx
*.tfstate
*.tfstate.*
*.tfvars
*.auto.tfvars
certificate.zip
node_modules
dist
build
